//! **************************************************************************
// Written by: Map P.20131013 on Mon Feb 19 15:12:13 2018
//! **************************************************************************

SCHEMATIC START;
NET "clock_BUFGP/IBUFG" BEL "clock_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

